
<h1><%= @result['Title'] %></h1>

<ul>

  <li>Year: <%= @result['Year'] %></li>
  <li>Rating: <%= @result['Rated'] %></li>
  <li>Year Released: <%= @result['Released'] %></li>
  <li>Runtime: <%= @result['Runtime'] %></li>
  <li>Genre: <%= @result['Genre'] %></li>
  <li id="Plot">Plot: <%= @result['Plot'] %></li>
  <img src="<%= @result['Poster'] %>">
</ul>
